<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>io.github.chmc.ListAll.viewing-list</string>
		<string>io.github.chmc.ListAll.viewing-item</string>
		<string>io.github.chmc.ListAll.browsing-lists</string>
	</array>
</dict>
</plist>
