<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ListAll Item</string>
			<key>UTTypeIdentifier</key>
			<string>io.github.chmc.ListAll.item</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ListAll List</string>
			<key>UTTypeIdentifier</key>
			<string>io.github.chmc.ListAll.list</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>io.github.chmc.ListAll.viewing-list</string>
		<string>io.github.chmc.ListAll.viewing-item</string>
		<string>io.github.chmc.ListAll.browsing-lists</string>
	</array>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Add to ListAll</string>
			</dict>
			<key>NSMessage</key>
			<string>createItemFromText</string>
			<key>NSPortName</key>
			<string>ListAllMac</string>
			<key>NSSendTypes</key>
			<array>
				<string>public.utf8-plain-text</string>
			</array>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>L</string>
			</dict>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Add Lines to ListAll</string>
			</dict>
			<key>NSMessage</key>
			<string>createItemsFromLines</string>
			<key>NSPortName</key>
			<string>ListAllMac</string>
			<key>NSSendTypes</key>
			<array>
				<string>public.utf8-plain-text</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Create ListAll List</string>
			</dict>
			<key>NSMessage</key>
			<string>createListFromText</string>
			<key>NSPortName</key>
			<string>ListAllMac</string>
			<key>NSSendTypes</key>
			<array>
				<string>public.utf8-plain-text</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
